@import "~bootstrap/scss/bootstrap.scss";
.traffic{
    background: black;
    padding: 5px;
    display: inline-block;
}
.light{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.green{
    background: green;
}
.yellow{
    background: yellow;
}
.red{
    background: red;
}
.glow{
    box-shadow: 0px 0px 9px 4px #747DE8;
}